@import "../../../constants/less/variables.less";

button {
  background-color: @PRIMARY_COLOR;
  color: @SECONDARY_COLOR;
  font-size: 40px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: rgba(17, 24, 27, 0.4);
  border-color: @PRIMARY_COLOR;
  border-style: solid;
  border-width: 3px;
  color: @PRIMARY_COLOR;
}

button:focus {
  outline-width: 0;
}
