<form class="createContainer" #createForm="ngForm">

    <label class="labelName labelCreate">Your name</label>
    <input type="text" class="inputName inputCreate" autofocus #name="ngModel" name="name" [(ngModel)]="player.name" required />

    <div class="separator"></div>

    <label class="labelSpeed labelCreate">Speed</label>
    <select class="selectSpeed" #speed="ngModel" name="speed" [(ngModel)]="game.speed">
        <option value="Normal">Normal</option>
        <option value="Turbo">Turbo</option>
        <option value="HyperTurbo">HyperTurbo</option>
    </select>

    <label class="labelStack labelCreate">Stack</label>
    <input type="text" class="inputStack inputCreate" #stack="ngModel" name="stack" [(ngModel)]="game.stack" required/>

    <app-main-button (clickEvent)="onClick()" class="buttonCreate" [buttonText]="'Create'"></app-main-button>
    
    
</form>
