@import "../../shared/constants/less/variables.less";

.shellContainer {
  display: grid;
  height: 100vh;
}

@media (min-width: 600px) {
  .shellContainer {
    grid-template-areas:
      "."
      "shellContent"
      ".";
    grid-template-columns: 100%;
    grid-template-rows: 5% 90% 5%;
  }
}

@media (min-width: 1000px) {
  .shellContainer {
    grid-template-areas:
      ". . ."
      ". shellContent ."
      ". . .";
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 90% 5%;
  }
}



.shellContent {
  grid-area: shellContent;
}
