.shellContainer {

  background-color: #11181B;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  height: 100vh;
  grid-gap: 10px;
  grid-template-areas:
    ". . ."
    ". shellContent ."
    ". . .";
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 5% auto 5%;
}

.shellContent {
  grid-area: shellContent;
  background-color: white;
}


