@import "../../shared/constants/less/variables.less";

.shellContainer {

  

  display: grid;
  height: 100vh;

  grid-template-areas:
    ". . ."
    ". shellContent ."
    ". . .";
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 5% 90% 5%;
}

.shellContent {
  grid-area: shellContent;
  
}


