<div class="lobbyContainer">
  <div class="playersContainer">
    <div class="player" *ngFor="let player of players">
      <div class="photoLobby">
        <img class="photoUser" src="/assets/images/photoUser1.jpg" />
      </div>
      <div class="nameLobby">
        <p class="name">{{ player.name }}</p>
      </div>
    </div>

    <div class="player waiting" *ngFor="let player of playersWaiting">
      <div class="photoLobby"></div>
      <div class="nameLobby">
        <p class="name">Waiting player...</p>
      </div>
    </div>
  </div>

  <div class="specsContainer">
    <div class="specText">
      <p class="specStatic">Game:</p>
      <p class="specDinamic">Hold'em Sin límite</p>
    </div>
    <div class="specText">
      <p class="specStatic">Players:</p>
      <p class="specDinamic">3</p>
    </div>
    <div class="specText">
      <p class="specStatic">Speed:</p>
      <p class="specDinamic">{{ game.speed }}</p>
    </div>
    <div class="specText">
      <p class="specStatic">Stack:</p>
      <p class="specDinamic">{{ game.stack }}</p>
    </div>
  </div>

  <div class="linkContainer">
    <p class="link">{{game._id}}</p>
  </div>

  <div class="startButtonContainer">
    <app-main-button
      class="startButton"
      [buttonText]="'Ready'"
      (click)="ready()"
    ></app-main-button>
  </div>
</div>
