<div class="lobbyContainer">
  <div class="playersContainer container">
    <div class="player">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">

      </div>
    </div>
    <div class="player">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">

      </div>
    </div>
    <div class="player">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">

      </div>
    </div>
    <div class="player">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">

      </div>
    </div>
    <div class="player">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">

      </div>
    </div>
    <div class="player">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">

      </div>
    </div>
    <div class="player">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">

      </div>
    </div>
    <div class="player" [style.visibility]="'visible'">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">

      </div>
    </div>
    <div class="player">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">

      </div>
    </div>
  </div>

  <div class="specsContainer container"></div>

  <div class="linkContainer container">
    <p class="link">www.pokerrun.com/enlacealeatorio1234</p>
  </div>

  <div class="startButtonContainer">
    <app-main-button
      class="startButton"
      [buttonText]="'Ready'"
      (click)="ready()"
    ></app-main-button>
  </div>
</div>
