@import "../../shared/constants/less/variables.less";

.lobbyContainer {
  display: grid;
  height: 100%;
  grid-gap: 10px;

  grid-template-areas:
    "playersContainer specsContainer"
    "playersContainer linkContainer"
    "playersContainer startButtonContainer";

  grid-template-columns: 30% auto;
  grid-template-rows: 5fr 1fr 1fr;
}

.playersContainer {
  grid-area: playersContainer;
  display: flex;
  flex-direction: column;

  position: relative;

  .player {
    width: 100%;
    flex: 1;

    display: grid;
    grid-template-areas:
      ". . . ."
      ". photoLobby nameLobby ."
      ". . . .";

    grid-template-columns: 2% 33% 63% 2%;
    grid-template-rows: 5% 90% 5%;
  }

  .waiting {
    .photoLobby {
      border-style: solid;

      border-color: rgba(107, 11, 11, 0.61);
    }
    .nameLobby {
      .name {
        color: rgba(255, 255, 255, 0.253);
        
      }
    }
  }

  .photoLobby {
    grid-area: photoLobby;
    border-radius: 4px;
    border-style: solid;
    border-color: @PRIMARY_COLOR;

    .photoUser {
      height: 100%;
      width: 100%;

      border-radius: 4px;

      box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
    }
  }

  .nameLobby {
    grid-area: nameLobby;

    padding-left: 10px;
    vertical-align: middle;

    .name {
      font-size: 20px;
      color: white;
      
    }
    
  }
}

.specsContainer {
  grid-area: specsContainer;
  border-style: solid;
  border-radius: 4px;
  border-color: @PRIMARY_COLOR;
  background-color: @SECONDARY_COLOR;
  background-image:  url(/assets/images/specsBackground.jpg);
  
  background-position: center;
  
  background-repeat: no-repeat;
  background-size: cover;

  

  .specText{

    display: flex;
    flex-wrap: nowrap;

    .specStatic{
      flex: 0 20%;
      color: @PRIMARY_COLOR;
      font-size: 25px;
      padding-left: 20px;
    }
  
    .specDinamic{
      flex: 0 50%;
      color: white;
      font-size: 25px;
      padding-left: 9px;
      
      
    }

  }

  

 
  
}

.linkContainer {
  grid-area: linkContainer;
  text-align: center;
  vertical-align: middle;

  .link {
    font-size: 30px;
    color: white;
  }
}

.startButtonContainer {
  grid-area: startButtonContainer;
}
