<div class="lobbyContainer">
  <div class="playersContainer">
    <div class="player">
      <div class="photoLobby">
        <img class="photoUser" src="/assets/images/photoUser1.jpg"/>
      </div>
      <div class="nameLobby">
        <p class="name">Cristiano Ronaldo</p>
      </div>
    </div>
    <div class="player">
      <div class="photoLobby">
        <img class="photoUser" src="/assets/images/photoUser2.jpg"/>
      </div>
      <div class="nameLobby">
        <p class="name">James Bond</p>
      </div>
    </div>
    <div class="player">
      <div class="photoLobby">
        <img class="photoUser" src="/assets/images/photoUser3.jpeg"/>
      </div>
      <div class="nameLobby">
        <p class="name">Cary Grant</p>
      </div>
    </div>
    <div class="player waiting">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">
        <p class="name">Waiting player...</p>
      </div>
    </div>
    <div class="player waiting">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">
        <p class="name">Waiting player...</p>
      </div>
    </div>
    <div class="player waiting">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">
        <p class="name">Waiting player...</p>
      </div>
    </div>
    <div class="player waiting">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">
        <p class="name">Waiting player...</p>
      </div>
    </div>
    <div class="player waiting" [style.visibility]="'visible'">
      <div class="photoLobby">

      </div>
      <div class="nameLobby">
        <p class="name">Waiting player...</p>
      </div>
    </div>
    
  </div>

  <div class="specsContainer"></div>

  <div class="linkContainer">
    <p class="link">www.pokerrun.com/enlacealeatorio1234</p>
  </div>

  <div class="startButtonContainer">
    <app-main-button
      class="startButton"
      [buttonText]="'Ready'"
      (click)="ready()"
    ></app-main-button>
  </div>
</div>
