.lobbyContainer{

    display: grid;
    height: 100%;
    overflow: auto;
    grid-gap: 10px;
    grid-template-areas:
    "players specs"
    "players link"
    "players startButton";

    grid-template-columns: 30% 70%;
    grid-template-rows: 70% 10% 20%;


}

.players{

    grid-area: players;
    background-color: red;
    overflow: auto;
}

.specs{

    grid-area: specs;
    background-color: orange;
}

.link{

    grid-area: link;
    background-color: green;
}

.startButton{

    grid-area: startButton;
    background-color: yellow;
}