@import "../../shared/constants/less/variables.less";

.gameContainer {
  height: 100%;
  background-image: url(/assets/images/table.png);
  background-attachment: fixed;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: 70%;

  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    ". . . . . . . ."
    ". . playerSpace3 playerSpace4 playerSpace5 playerSpace6 . ."
    ". . tableSpace tableSpace tableSpace tableSpace . ."
    ". playerSpace2 tableSpace tableSpace tableSpace tableSpace playerSpace7 ."
    ". . tableSpace tableSpace tableSpace tableSpace . ."
    ". . playerSpace1 userSpace userSpace playerSpace8 . ."
    ". . . . . . . ."
    ". . actionsBar actionsBar actionsBar actionsBar . ."
    ". . . . . . . .";

  grid-template-rows: auto 15% 7% 15% 7% 15% auto 25% auto;
  grid-template-columns: auto 15% 15% 15% 15% 15% 15% auto;
}

.square{
  border-radius: 5px;
  background: rgb(45,45,45);
  background: linear-gradient(0deg, rgba(45,45,45,0.5) 4%, rgba(17,24,27,0.1) 100%);
  position: fixed;
  bottom: 0px;
  z-index: 99;
  
}

.square:hover{
  background: linear-gradient(0deg, rgba(45,45,45,1) 4%, rgba(17,24,27,1) 100%);
}

.info{
  left: 0px;
  height: 25%;
  width: 23.5%;

  p{
    color: white;
    padding-left: 10px;
  }

}

.chat{
  right: 0px;
  height: 25%;
  width: 22%;
  text-align: right;

  p{
    color: white;
    padding-right: 10px;
  }

}

.userSpace {
  grid-area: userSpace;
  border-radius: 4px;
  border-width: 5px 5px 0px 5px;
  border-style: solid;
  
  background-color: @SECONDARY_COLOR;

  display: grid;
  grid-template-areas:
    ". userCard1 . userCard2 . . ."
    ". userCard1 . userCard2 . userStack ."
    ". userCard1 . userCard2 . userStack ."
    ". userCard1 . userCard2. . .";

  grid-template-columns: 5% 25% 5% 25% 5% 30% 5%;
  grid-template-rows: 25% 25% 25% 25%;

  .userCard1 {
    grid-area: userCard1;
  }
  .userCard2 {
    grid-area: userCard2;
  }

  .userStack {
    grid-area: userStack;
    
    background-color: @SECONDARY_COLOR;
    text-align: center;
    vertical-align: middle;

    p {
      font-size: 20px;
      color: white;
    }
  }
}

.tableSpace {
  grid-area: tableSpace;

  display: grid;
  grid-template-areas:
    "chipsSpace3 dealerSpace3 chipsSpace4 dealerSpace4 chipsSpace5  dealerSpace5 chipsSpace6 dealerSpace6"
    ". showDownSpace showDownSpace showDownSpace showDownSpace showDownSpace showDownSpace ."
    "dealerSpace2 showDownSpace showDownSpace showDownSpace showDownSpace showDownSpace showDownSpace chipsSpace7"
    "chipsSpace2 showDownSpace showDownSpace showDownSpace showDownSpace showDownSpace showDownSpace dealerSpace7"
    ". showDownSpace showDownSpace showDownSpace showDownSpace showDownSpace showDownSpace ."
    "dealerSpace1 chipsSpace1 . dealerSpaceUser chipsSpaceUser . dealerSpace8 chipsSpace8";

  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 15% auto 15% 15% auto 15%;

  .chipsSpace {
  
    display: grid;
    grid-template-areas: 
    ". betAmount ."
    "chipSvg .  ."
    ". . .";

    padding-top: 0;
    font-size: 14px;
    grid-template-columns: 30% 25% 55%;
    grid-template-rows:25% 50% 25%;

    .chipSvg{
      grid-area: chipSvg
    }

    .betAmount{
      grid-area: betAmount;
      color: white;
     
    }

    
  }

  .showDownSpace {
    grid-area: showDownSpace;

    display: grid;

    grid-template-areas:
      ". . . . . . . . . . ."
      ". card1 . card2 . card3 . card4 . card5 ."
      ". . . . . pot . . . . .";

    grid-template-columns: 11% 15% 1% 15% 1% 15% 1% 15% 1% 15% 10%;
    grid-template-rows: 14% 60% 25%;

    .pot {
      grid-area: pot;
    font-size: 17px;
      text-align: center;
     padding-top: 8px;
     color: white;
    }
  }
}

.actionsBar {
  grid-area: actionsBar;
  grid-gap: 5px;
  display: grid;
  grid-template-areas:
    ". . ."
    "sliderArea sliderArea sliderMarkerArea"
    "foldArea checkArea raiseArea";

  grid-template-rows: 10% 30% 60%;
  grid-template-columns: 1fr 1fr 1fr;

  .sliderArea {
    grid-area: sliderArea;

    .slider {
      width: 110%;
    }
  }

  .sliderMarkerArea {
    grid-area: sliderMarkerArea;

    .markerArea {
      font-size: 30px;
      text-align: center;
      background-color: @SECONDARY_COLOR;
      color: @PRIMARY_COLOR;
      border: none;
      height: 80%;
      width: 100%;
    }

    .markerArea:focus{
      outline-width: 0;
  }
  }

  .foldArea {
    grid-area: foldArea;
  }

  .checkArea {
    grid-area: checkArea;
  }

  .raiseArea {
    grid-area: raiseArea;
  }
}

.playerSpace {
  display: grid;
  grid-template-areas:
    "playerPhoto playerInfo"
    "playerCards playerCards";

  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 60%;

  .playerPhoto {
    border-radius: 4px;
    border-width: 0px 0px 4px 4px;
    border-style: solid;
    border-color: @PRIMARY_COLOR;
    grid-area: playerPhoto;
  

    background-position: center;

    background-repeat: no-repeat;
    background-size: cover;
  }

  .playerInfo {
    border-radius: 4px;
    border-width: 0px 4px 4px 0px;
    border-style: solid;
    border-color: @PRIMARY_COLOR;
    grid-area: playerInfo;
    background-color: @SECONDARY_COLOR;
    text-align: center;
    vertical-align: middle;

    display: grid;
    grid-template-areas: 
    ". . ."
    ". playerStack ."
    ". . ."
    "playerName playerName playerName";

    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 30% 10% 50%;


    .playerStack{
      grid-area: playerStack;
      color: @PRIMARY_COLOR;
    }

    .playerName{
      grid-area: playerName;
      color: white;
    }
  
  }

  .playerCards {
    grid-area: playerCards;
    display: grid;
    grid-template-areas: ". playerCard1 . playerCard2 .";
    grid-template-columns: 10% 30% 0% 40% 15%;
  }
}



.tableCard:hover{
  transform: scale(0.47);
}

.playerCard{
  background-color:red;
}

.userCard{
  
}

.playerCard:hover{
  transform: scale(0.31);
}

.userCard:hover{
  transform: scale(0.42);
}

.playerSpace1 {
  grid-area: playerSpace1;
}
.playerSpace2 {
  grid-area: playerSpace2;
}
.playerSpace3 {
  grid-area: playerSpace3;
}
.playerSpace4 {
  grid-area: playerSpace4;
}
.playerSpace5 {
  grid-area: playerSpace5;
}
.playerSpace6 {
  grid-area: playerSpace6;
}
.playerSpace7 {
  grid-area: playerSpace7;
}
.playerSpace8 {
  grid-area: playerSpace8;
}

.chipsSpace1 {
  grid-area: chipsSpace1;
}
.chipsSpace2 {
  grid-area: chipsSpace2;
}
.chipsSpace3 {
  grid-area: chipsSpace3;
}
.chipsSpace4 {
  grid-area: chipsSpace4;
}
.chipsSpace5 {
  grid-area: chipsSpace5;
}
.chipsSpace6 {
  grid-area: chipsSpace6;
}
.chipsSpace7 {
  grid-area: chipsSpace7;
}
.chipsSpace8 {
  grid-area: chipsSpace8;
}
.chipsSpaceUser {
  grid-area: chipsSpaceUser;
}

.dealerSpace1 {
  grid-area: dealerSpace1;
}
.dealerSpace2 {
  grid-area: dealerSpace2;
}
.dealerSpace3 {
  grid-area: dealerSpace3;
}
.dealerSpace4 {
  grid-area: dealerSpace4;
}
.dealerSpace5 {
  grid-area: dealerSpace5;
}
.dealerSpace6 {
  grid-area: dealerSpace6;
}
.dealerSpace7 {
  grid-area: dealerSpace7;
}
.dealerSpace8 {
  grid-area: dealerSpace8;
}
.dealerSpaceUser {
  grid-area: dealerSpaceUser;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.playerCard1 {
  grid-area: playerCard1;
}

.playerCard2 {
  grid-area: playerCard2;
}

.svg{
  border-radius: ;
}


 
