<div class="gameContainer">
  <div class="playerSpace3 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerName"></div>
    <div class="playerCard"></div>
  </div>
  <div class="playerSpace4 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerName"></div>
    <div class="playerCard"></div>
  </div>
  <div class="playerSpace5 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerName"></div>
    <div class="playerCard"></div>
  </div>
  <div class="playerSpace6 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerName"></div>
    <div class="playerCard"></div>
  </div>
  <div class="playerSpace2 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerName"></div>
    <div class="playerCard"></div>
  </div>
  <div class="tableSpace">
    <div class="chipsSpace3"></div>
    <div class="dealerSpace3"></div>  
    <div class="chipsSpace4"></div>
    <div class="dealerSpace4"></div>  
    <div class="chipsSpace5"></div>
    <div class="dealerSpace5"></div>
    <div class="chipsSpace6"></div>
    <div class="dealerSpace6"></div>
    <div class="dealerSpace2"></div>
    <div class="showDownSpace"></div>
    <div class="chipsSpace7"></div>
    <div class="chipsSpace2"></div>
    <div class="dealerSpace7"></div>
    <div class="dealerSpace1"></div>
    <div class="chipsSpace1"></div>
    <div class="dealerSpaceUser"></div>
    <div class="chipsSpaceUser"></div>
    <div class="dealerSpace8"></div>
    <div class="chipsSpace8"></div>
  </div>
  <div class="playerSpace7 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerName"></div>
    <div class="playerCard"></div>
  </div>
  <div class="playerSpace1 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerName"></div>
    <div class="playerCard"></div>
  </div>
  <div class="userSpace">
    <div class="userCard"></div>
  </div>
  <div class="playerSpace8 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerName"></div>
    <div class="playerCard"></div>
  </div>
  <div class="actionsBar"></div>
</div>
