<div class="gameContainer">
  <div class="playerSpace3 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerStack">
      <p>234</p>
    </div>
    <div class="playerCards" [style.visibility]="'visible'">
      <div class="playerCard1">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="60" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
      <div class="playerCard2">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="0" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
    </div>
  </div>
  <div class="playerSpace4 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerStack">
      <p>234</p>
    </div>
    <div class="playerCards" [style.visibility]="'hidden'">
      <div class="playerCard1">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="60" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
      <div class="playerCard2">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="0" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
    </div>
  </div>
  <div class="playerSpace5 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerStack">
      <p>342</p>
    </div>
    <div class="playerCards" [style.visibility]="'hidden'">
      <div class="playerCard1">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="60" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
      <div class="playerCard2">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="0" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
    </div>
  </div>
  <div class="playerSpace6 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerStack">
      <p>223</p>
    </div>
    <div class="playerCards" [style.visibility]="'visible'">
      <div class="playerCard1">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="60" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
      <div class="playerCard2">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="0" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
    </div>
  </div>
  <div class="playerSpace2 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerStack">
      <p>3.122</p>
    </div>
    <div class="playerCards" [style.visibility]="'visible'">
      <div class="playerCard1">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#heart_1" x="60" y="0" transform="scale(0.3)" />
        </svg>
      </div>
      <div class="playerCard2">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#club_1" x="0" y="0" transform="scale(0.3)" />
        </svg>
      </div>
    </div>
  </div>
  <div class="tableSpace">
    <div class="chipsSpace3 chipsSpace">
      <svg class="chipSvg" width="22.5" height="22.5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image href="../../../assets/svg/chip.svg" transform="scale(0.15)" />
      </svg>
      <p class="betAmount">234</p>
    </div>
    <div class="dealerSpace3"></div>
    <div class="chipsSpace4 chipsSpace">
      <svg class="chipSvg" width="22.5" height="22.5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image href="../../../assets/svg/chip.svg" transform="scale(0.15)" />
      </svg>
      <p class="betAmount">234</p>
    </div>
    <div class="dealerSpace4"></div>
    <div class="chipsSpace5 chipsSpace">
      <svg class="chipSvg" width="22.5" height="22.5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image href="../../../assets/svg/chip.svg" transform="scale(0.15)" />
      </svg>
      <p class="betAmount">234</p>
    </div>
    <div class="dealerSpace5"></div>
    <div class="chipsSpace6 chipsSpace">
      <svg class="chipSvg" width="22.5" height="22.5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image href="../../../assets/svg/chip.svg" transform="scale(0.15)" />
      </svg>
      <p class="betAmount">234</p>
    </div>
    <div class="dealerSpace6"></div>
    <div class="dealerSpace2"></div>
    <div class="showDownSpace">
      <div class="card1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#spade_1" x="0" y="0" transform="scale(0.45)" />
        </svg>
      </div>
      <div class="card2">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#heart_4" x="0" y="0" transform="scale(0.45)" />
        </svg>
      </div>
      <div class="card3">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#spade_king" x="0" y="0" transform="scale(0.45)" />
        </svg>
      </div>
      <div class="card4">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#club_7" x="0" y="0" transform="scale(0.45)" />
        </svg>
      </div>
      <div class="card5">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#diamond_7" x="0" y="0" transform="scale(0.45)" />
        </svg>
      </div>
      <div class="pot"></div>
    </div>
    <div class="chipsSpace7 chipsSpace">
      <svg class="chipSvg" width="22.5" height="22.5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image href="../../../assets/svg/chip.svg" transform="scale(0.15)" />
      </svg>
      <p class="betAmount">234</p>
    </div>
    <div class="chipsSpace2 chipsSpace">
      <svg class="chipSvg" width="22.5" height="22.5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image href="../../../assets/svg/chip.svg" transform="scale(0.15)" />
      </svg>
      <p class="betAmount">234</p>
    </div>
    <div class="dealerSpace7"></div>
    <div class="dealerSpace1"></div>
    <div class="chipsSpace1 chipsSpace">
      <svg class="chipSvg" width="22.5" height="22.5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image href="../../../assets/svg/chip.svg" transform="scale(0.15)" />
      </svg>
      <p class="betAmount">234</p>
    </div>
    <div class="dealerSpaceUser"></div>
    <div class="chipsSpaceUser chipsSpace">
      <svg class="chipSvg" width="22.5" height="22.5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image href="../../../assets/svg/chip.svg" transform="scale(0.15)" />
      </svg>
      <p class="betAmount">234</p>
    </div>
    <div class="dealerSpace8"></div>
    <div class="chipsSpace8 chipsSpace">
      <svg class="chipSvg" width="22.5" height="22.5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image href="../../../assets/svg/chip.svg" transform="scale(0.15)" />
      </svg>
      <p class="betAmount">234</p>
    </div>
  </div>
  <div class="playerSpace7 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerStack">
      <p>23.123</p>
    </div>
    <div class="playerCards" [style.visibility]="'hidden'">
      <div class="playerCard1">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="60" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
      <div class="playerCard2">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="0" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
    </div>
  </div>
  <div class="playerSpace1 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerStack">
      <p>2.123</p>
    </div>
    <div class="playerCards" [style.visibility]="'hidden'">
      <div class="playerCard1">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="60" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
      <div class="playerCard2">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="0" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
    </div>
  </div>
  <div class="userSpace">
    <div class="userCard1">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="../../../assets/svg/svg-cards.svg#spade_7" x="55" y="10" transform="scale(0.40)" />
      </svg>
    </div>
    <div class="userCard2">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="../../../assets/svg/svg-cards.svg#heart_7" x="5" y="10" transform="scale(0.40)" />
      </svg>
    </div>
    <div class="userStack">
      <p class="betAmount">3.234</p>
    </div>
  </div>
  <div class="playerSpace8 playerSpace">
    <div class="playerPhoto"></div>
    <div class="playerStack">
      <p>5.234</p>
    </div>
    <div class="playerCards" [style.visibility]="'hidden'">
      <div class="playerCard1">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="60" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
      <div class="playerCard2">
        <svg width="71" height="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="../../../assets/svg/svg-cards.svg#back" x="0" y="0" fill="#e5240b" transform="scale(0.3)" />
        </svg>
      </div>
    </div>
  </div>
  <div class="actionsBar">
    <div class="sliderArea">
      <mat-slider
       class="slider"
        
        [max]="maxSlider"
        [min]="minSlider"
        [(ngModel)]="sliderValue"
        (input)="sliderValue = $event.value">
    </mat-slider>
    </div>
    <div class="sliderMarkerArea">
      <input type="text" class="markerArea" [(ngModel)]="sliderValue"/>
    </div>
    <div class="foldArea">
      <app-main-button [buttonText]="'Fold'"></app-main-button>
    </div>
    <div class="checkArea">
      <app-main-button [buttonText]="'Check'"></app-main-button>
    </div>
    <div class="raiseArea">
      <app-main-button [buttonText]="'Raise'"></app-main-button>
    </div>
  </div>
</div>